@import '/styles/variables.scss';

.homePage {
  img {
    margin: 10px;
  }
  @include media('<=tablet') {
    transform: scale(0.8);
  }
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 350px;
  h1 {
    font-weight: 500;
    font-size: 30px;
  }
  h2 {
    margin-top: 200px;
    font-size: 25px;
    font-weight: 400;
  }
  small {
    font-size: 15px;
  }
}
