@import '/styles/variables.scss';

.homePage {
  img {
    margin: 10px;
  }
  @include media('<=tablet') {
    transform: scale(0.8);
  }
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 350px;
}
