@import '/styles/variables.scss';
main.pageMain {
  display: flex;
  justify-content: space-around;
  button {
    cursor: pointer;
  }
  .btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 20px 50px;
    border: none;
    border-radius: 8px;
    background-color: $blackColor;
    color: $whiteColor;
    transition: all 0.4s;
    &:hover {
      color: $blackColor;
      background-color: $whiteColor;
    }
  }
}
