.krzysiu {
  h2 {
    text-align: center !important;
  }

  small {
    font-size: 15px !important;
  }

  dfn {
    font-weight: 550 !important;
  }

  #pressure {
    max-width: 118ch !important;
  }
  a {
    text-decoration: none;
    :-webkit-any-link {
      color: black;
    }
    :visited {
      color: black;
    }
  }
}
